*{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-image: url("Background\ Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row; 
}

.flex-box{
    background-color: black;
    width: 500px;
    height: 300px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
    margin-left: 1.5%;
    border: 2px solid white ;
}
.flex-container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.flex-box1{
    background-color: black;
    width: 500px;
    height: 300px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-bottom: 2%;
    border: 2px solid white;
}
@media (max-width:600px) {
    .flex-box{
        font-size: 3vw;
    }
}